<?xml version='1.0' encoding='utf-8'?>
<widget id="com.juntafruta" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Junta Fruta</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/drawable-mdpi/icon_white_green_span.png" density="mdpi" />
        <icon src="res/drawable-ldpi/icon_white_green_span.png" density="ldpi" />
        <icon src="res/drawable-hdpi/icon_white_green_span.png" density="hdpi" />
        <icon src="res/drawable-xhdpi/icon_white_green_span.png" density="xhdpi" />
        <icon src="res/drawable-xxhdpi/icon_white_green_span.png" density="xxhdpi" />
        <icon src="res/drawable-xxxhdpi/icon_white_green_span.png" density="xxxhdpi" />
    </platform> 
</widget>
