* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
}

.btn,
.btn-small{
    background-color: #43A047 !important;
}

/* nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i{
    height: initial !important;
    line-height: initial !important;
} */

.footer-fixed footer {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-iniciar-coleta {
    width: 100%;
    height: 60px !important;
    padding-top: 10px !important;
    font-size: 14pt !important;
}

.modal-coleta-titulo {
    font-size: 18pt;
}

.btn-cancelar {
    background-color: #AAAAAA !important;
    color: #444444 !important;
}

.campo-coleta {
    padding: 5px;
    margin: 0 !important;
}

.input-field>label {
    font-size: 1.3rem !important;
}

.campo-coleta label {
    margin-left: 5px;
}

.campo-coleta textarea {
    min-height: 60px !important;
}

.app-mapa {
    width: 100vw;
    height: calc(100vh - 120px);
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

#modalColeta{
    max-height: 75%;
}

.txt-endereco-coleta{
    width: calc(100% - 60px) !important;
}

.invalid-field{
    border-bottom: 1px solid #CC0000 !important;
    color: #CC0000;
}

.invalid-field::placeholder{
    color: #CC0000;
}

nav{
    background-color: #43A047 !important;
}

.app-title{
    font-size: 18pt;
    color: #FFFFFF;
}

.reset-position-btn{
    position: fixed !important;
    top: 80px;
    right: 20px;
    z-index: 990 !important;
}

.change-mode-btn{
    position: fixed !important;
    top: 150px;
    right: 20px;
    z-index: 990 !important;
}

.leaflet-top, .leaflet-bottom{
    z-index: 990 !important;
}

.btn-fechar-minhas-coletas
{
    color:#CC0000 !important;
}

.item-minhas-coletas i{
    margin-right: 10px;
}

.item-minhas-coletas span{
    font-size: 11pt;
}

.coleta-controls{
    text-align: right;
}

.btn-coleta-remove{
    background-color: #CC0000 !important;
}

.btn-toggle-adm-mode-active{
    background-color: #43A047 !important;
}

.btn-toggle-adm-mode-inactive{
    background-color: #AAAAAA !important;
}